.container {
  display: flex;
  width: 100%;
  margin: auto;
  height: 100%;
}

.side-container {
  flex: 1;
  width: 90%;
  padding: 80px 70px;
  align-items: center;
  .register-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  .mat-label {
    padding-top: 10px !important;
  }

  .image {
    width: 200px;
    border-radius: 5px;
    margin-top: 0px;
  }

  .mat-card-image {
    margin: 0;
  }
  .table-container {
    width: 100%;
    overflow-x: scroll;
    background-color: #224763;

    .status {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    th.mat-header-cell {
      border-top-right-radius: 10px 10px;
      border-top-left-radius: 10px 10px;
      font-size: 20px;
      color: #f1f9fc;
    }

    .mat-row .mat-cell {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      border-top: 1px solid transparent;
      margin-bottom: -1px;
      color: black;
      background-color: #bee2ee;
      cursor: default;
      padding: 10px 3px;
      font-size: 16px;
    }

    th.mat-header-cell:first-of-type,
    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type {
      padding-left: 24px !important;
    }
  }
  .scroll-bar {
    @media screen and (max-width: 767px) {
      overflow-x: scroll;
      margin-bottom: 100px;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 80px 30px 0px 30px;
  }
}
