<div class="confirm-dialog-container">
  <div mat-dialog-title>
    <div *ngIf="data.congraEmoji">
      <img class="emoji" [src]="data.congraEmoji" alt="border" />
    </div>
    <h1 class="confirm-title">{{ data.title }}</h1>
  </div>
  <div mat-dialog-content>
    <div class="msg-content">
      {{ data.message }}&nbsp; <span class="winner">{{ data.winner }} </span>
    </div>
  </div>
  <div mat-dialog-actions class="actions-group">
    <div *ngIf="data.firstBtnMsg">
      <button
        mat-raised-button
        color="warn"
        (click)="doAction()"
        class="ok-btn"
      >
        {{ data.firstBtnMsg }}
      </button>
    </div>
    <div *ngIf="data.secondBtnMsg">
      <button mat-raised-button color="warn" (click)="closeMe()" class="ok-btn">
        {{ data.secondBtnMsg }}
      </button>
    </div>
  </div>
  <div>
    <img class="stars" [src]="stars" alt="stars" />
    <img class="second-stars" [src]="stars" alt="stars" />
  </div>
</div>
